{% extends "emails/base.twig" %}

{% block content %}
    <div class="header">
        <h1>{{ __('Your Stay is Coming Up!', 'lodgifywp') }}</h1>
    </div>

    <p>{{ __('Dear', 'lodgifywp') }} {{ guest.name }},</p>

    <p>{{ __("We hope you're excited about your upcoming stay at", 'lodgifywp') }} {{ property.title }}! {{ __("Here's a reminder of your booking details:", 'lodgifywp') }}</p>

    <div class="details-box">
        <h3>{{ __('Booking Details', 'lodgifywp') }}</h3>
        <p><strong>{{ __('Check-in:', 'lodgifywp') }}</strong> {{ check_in_date }} at {{ check_in_time }}</p>
        <p><strong>{{ __('Property Address:', 'lodgifywp') }}</strong><br>{{ property_address|nl2br }}</p>
    </div>

    <div class="owner-info">
        {% if owner.photo %}
            <img src="{{ owner.photo.sizes.thumbnail }}" alt="{{ owner.name }}" class="owner-photo">
        {% endif %}
        <div class="owner-details">
            <h3>{{ __('Your Host', 'lodgifywp') }}</h3>
            <p><strong>{{ owner.name }}</strong></p>
            <p>{{ __('Phone:', 'lodgifywp') }} {{ owner.phone }}</p>
        </div>
    </div>

    {% if owner.welcome_message %}
        <div class="welcome-message">
            {{ owner.welcome_message|wpautop }}
        </div>
    {% endif %}

    <p>{{ __('Need to get in touch? You can reach your host using the contact details above.', 'lodgifywp') }}</p>

    <p>{{ __('We look forward to welcoming you!', 'lodgifywp') }}</p>

    <a href="{{ booking_url }}" class="button">
        {{ __('View Booking Details', 'lodgifywp') }}
    </a>
{% endblock %} 